<!DOCTYPE html>
<html>
  <head>
    <title>Samamat Flow Control</title>
    <style>
      h1{
        font-size:40px;
        font-family: Roboto;
        font-weight:normal;
        color: rgb(132,28,76);
        text-align:center;
      }
    </style>
  </head>
  <body>
    <h2>About</h2>
    <p>Samamat Flow Control LLC is a UAE-based Valve-Manufacturing and Valve-Servicing Company for the process, power, and energy-related industries. Samamat has state-of-the-art manufacturing unit, producing high-quality valves to meet specific requirements of both local and international clients. This modern facility is supported by a specialized team of highly-skilled, ingenious technicians who ensure that the valves consistently deliver high performance and adherence to international standards.

Samamat has been specially organized to meet client requirements through an in-house testing facility of MT, PT, UT, Hardness, Chemical Analysis and PMI, in line with Machining, Assembling, Testing, Inspection, Welding and Packing. The facility is situated in Dubai Investment Park, Dubai, UAE.

Below are the major applicable standards:
<li>API 600 – Steel gate valves – Flanged and Butt-Welding Ends, Bolted Bonnets</li>
<li>API 602 – Gate, Globe, and Check Valves for Sizes DN 100 (NPS 4) and Smaller for the Petroleum and Natural Gas Industries.</li>
<li>API 6D – Specification for pipeline and piping valves.</li>
<li>API 594 – Check Valves: Flanged, Lug, Wafer and Butt-welding</li>
<li>API 623 – Steel Globe Valves-Flanged and Butt-welding Ends, Bolted Bonnets</li>
<li>API 609 – Butterfly Valves: Double-flanged, Lug- and Wafer-type</li>
<li>ASME B 16.34 – Valves – Flanged, Threaded and Welding End</li>
<li>BS 1868 – Specification for steel check valves (flanged and butt-welding ends) for the petroleum, petrochemical and allied industries
<li>BS 1873 – Specification for steel globe and globe stop and check valves (flanged and butt-welding ends) for the petroleum, petrochemical and allied industries</li>
<li>EN ISO 17292 – Metal ball valves for petroleum, petrochemical and allied industries</li></p>
  </body>
</html>